*{
    margin: 0%;
    padding: 0%;
}

/* variables */

$font-size: 16px;
$font-style: italic;
$font-weight: lighter;
$text-transform: uppercase;
$padding: 12px;
$margin: 75px 15px 75px 15px;
$border: 10px solid #FF8D8D;
$border-radius: 50px;
$text-align: center;

@mixin iniciales ($letter-spacing, $text-transform, $font-size, $color, $margin-top, $margin-bottom) {
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    font-size: $font-size;
    color: $color;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

html{
    font-size: 15px;
}

body{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight:normal;
    color: gray;
    line-height: 19px;
    text-align: justify;
}

h2 {
    $font-size: 16px;
    $font-style: italic;
    $font-weight: lighter;
    $text-transform: uppercase;
    $padding: 12px;
    $margin: 75px 15px 75px 15px;
    $border: 10px solid #FF8D8D;
    $border-radius: 50px;
    $text-align: center;
}

/*estilo index*/

header {
    background-color: #FF8D8D;
}

#grid {
    display: grid;
    grid-template-areas: 
    "logo logo"
    "menu menu"
    "titulo titulo"
    "frase frase"
    "fotos fotos"
    "parrafo parrafo"
    "footer footer"
    ;
}

header {
    grid-area: logo;
}

.navbar {
    grid-area: menu;
}

.active {
    border:#37b5a6 2px solid;
    padding: 5px;
}

.btn:hover {
    background-color: #37b5a6;
}

.titulo {
    grid-area: titulo;
    text-align: center;
    margin-top: 30px;
    color:#37b5a6;
}

#frase-inicio {
    grid-area: frase;
    padding: 10px;
}

#fotos-nombres-inicio {
    grid-area: fotos;
    padding: 10px;
}

#fotos-nombres-inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FF8D8D;
}

.parrafo-inicio {
    grid-area: parrafo;
}

footer {
    grid-area: footer;
}

$nombres:(
    1: #9b79da,
    2: #e7aaaf,
    3: #37b5a6,
);

@each $nombre, $color in $nombres {
    .nombre-#{$nombre}{
        color: $color;
    }
    
}

.nombre-1 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
    .nombre-1:hover {
        transform: scale(1.1);
        transition-property: all;
        transition-duration: 2s;
    }
}

.nombre-2 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
    .nombre-2:hover {
        transform: scale(1.1);
        transition-property: all;
        transition-duration: 2s;
    }
}

.nombre-3 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
    .nombre-3:hover {
        transform: scale(1.1);
        transition-property: all;
        transition-duration: 2s;
    }
}

.foto-inicio-1{
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
    .foto-inicio-1:hover {
        transform: scale(1.1);
        transition-property: all;
        transition-duration: 2s;
    }
}

.foto-inicio-3{
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
    .foto-inicio-3:hover {
        transform: scale(1.1);
        transition-property: all;
        transition-duration: 2s;
    }
}

.foto-inicio-2{
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
    .foto-inicio-2:hover {
        transform: scale(1.1);
        transition-property: all;
        transition-duration: 2s;
    }
}

.descripcion-1 {
    font-size: 20px;
    margin-top: 50px;
    color: map-get($nombres, 1);
    .descripcion-1:hover {
        transform: translateX(100px);
        transition-property: all;
        transition-duration: 1.5s;
    }
}

.descripcion-2 {
    font-size: 20px;
    margin-top: 50px;
    color: map-get($nombres, 2);
    .descripcion-2:hover {
        transform: translateX(100px);
        transition-property: all;
        transition-duration: 1.5s;
    }
}

.descripcion-3 {
    font-size: 20px;
    margin-top: 50px;
    color: map-get($nombres, 3);
    .descripcion-3:hover {
        transform: translateX(100px);
        transition-property: all;
        transition-duration: 1.5s;
    }
}

.parrafo-inicio {
    grid-area: parrafo;
    padding: 10px;
    .parrafo-inicio {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: lighter;
        letter-spacing: 2px;
        word-spacing: 5px;
        line-height: 40px;
        text-overflow:ellipsis;
        text-align: center;
        justify-content: center;
        margin: 40px 5px 40px 5px;
        .parrafo-inicio-color{
            color: #FF8D8D;
        }
    }
    
}

.card-header {
    background-color: #FF8D8D;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #FF8D8D;
    font-size: 14px;
    text-transform: uppercase;
    
}


/*estilo por que cs*/

#grid1 {
    display: grid;
    grid-template-areas: 
    "logo logo"
    "menu menu"
    "titulo titulo"
    "frase frase"
    "content content"
    "footer footer"
    ;
}

header {
    grid-area: logo;
}

.nav-tabs {
    grid-area: menu;
}


li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    li:hover{
        background-color: #d7dbd8
        
    }
}

.titulo1 {
    grid-area: titulo;
    text-align: center;
    margin-top: 30px;
    color:#37b5a6;
}

#frase-inicio1 {
    grid-area: frase;
    padding: 10px;
}

#content {
    grid-area: content;
    padding: 10px;
    #content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.foto-aside {
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
    margin-right: 70px;
}

.item1 {
    margin: 30px 50px 70px 50px;
    font-size: 20px;
    .item2 {
        margin: 100px 50px 70px 50px;
        font-size: 20px;
        .item3 {
            margin: 100px 50px 70px 50px;
            font-size: 20px;
        }
    }
}

.item1 {
    text-align: center;
}
.item2 {
    text-align: center;
}
.item3 {
    text-align: center;
}

.parrafo-aside {
    margin: 130px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FF8D8D;
    font-weight: bold;
    font-size: 15px;
    .parrafo-aside:hover {
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 2s;
    
    }
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #FF8D8D;
    font-size: 14px;
    text-transform: uppercase;
    
}


/* estilo creadores */

#grid2 {
    display: grid;
    grid-template-areas: 
    "logo logo"
    "menu menu"
    "titulo titulo"
    "frase frase"
    "content content"
    "footer footer"
    ;
}

header {
    grid-area: logo;
}

.nav-tabs {
    grid-area: menu;
}

.titulo2 {
    grid-area: titulo;
    text-align: center;
    margin-top: 30px;
    color:#37b5a6;
}

#frase-inicio2 {
    grid-area: frase;
    padding: 10px;
}

#content2 {
    grid-area: content;
    padding: 10px;
    #content2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/*mixin iniciales al inicio*/

.iniciales1 {
    @include iniciales(0.1cm, capitalize, 30px, #FF8D8D, 100px, 20px)
}

.iniciales2 {
    @extend.iniciales1;
    margin-top: 0px;
    color:#37b5a6;
}

.iniciales3 {
    @extend.iniciales1
}


/* estilo contacto */

#grid3 {
    display: grid;
    grid-template-areas: 
    "logo logo"
    "menu menu"
    "titulo titulo"
    "frase frase"
    "formulario formulario"
    "footer footer"
    ;
}

header {
    grid-area: logo;
}

.nav-tabs {
    grid-area: menu;
}

.titulo3 {
    grid-area: titulo;
    text-align: center;
    margin-top: 30px;
    color:#37b5a6;
}

#frase-inicio3 {
    grid-area: frase;
    padding: 10px;
}

.formulario {
    grid-area: formulario;
    padding: 10px;
    font-size: 20px;
    .formulario {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #formulario {
            border: 2px solid ;
        
        }
    }
}

.empezamos {
    font-size: 30px;
    margin: 20px 10px 20px 10px;
}

.sexo {
    margin-bottom: 10px;
    line-height: 10px;
}

.boton {
    margin-top: 10px;
    color: #FF8D8D;
}

.nombre-apellido {
    line-height: 25px;
}

.nombre {
    color: #FF8D8D;
}

.apellido {
    color: #FF8D8D;
}

.comentarios {
    margin-top: 30px;
}

.box {
    margin-top: 10px;
}

.newsletter {
    margin-top: 20px;
}

.check {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* responsive */

@media screen and (max-width: 700px) {
    #grid {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "titulo"
        "frase"
        "fotos"
        "parrafo"
        "footer"
        ;
        
    }

    header {
        background-color: #FF8D8D;
    }

    .frase-inicio {
       text-align: center;
       margin-top: 30px;
       border: 5px solid #FF8D8D;
       border-radius: 50px;
    }

    .titulo {
        text-align: center;
        margin-top: 30px;
        color:#37b5a6;
    }

    #fotos-nombres-inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nombre-1:hover {
        transform: none;
    }

    .nombre-2:hover {
        transform: none;
    }

    .foto2 {
        display: none;
    }

    .parrafo-inicio {
        margin-top: 140px;
    }

    .nombre-1:hover{
        transform: none;
    }

    .nombre-2:hover{
        transform: none;
    }

    .nombre-3:hover{
        transform: none;
    }

    .foto-inicio-1:hover{
        transform: none;
    }

    .foto-inicio-2:hover{
        transform: none;
    }

    .foto-inicio-3:hover{
        transform: none;
    }

    .descripcion-1:hover{
        transform: none;
    }

    .descripcion-2:hover{
        transform: none;
    }

    .descripcion-3:hover{
        transform: none;
    }

    /* responsive por que cs */
    
    #grid1 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .frase-inicio1 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #parrafo-aside {
        display: none;
    }

    .item1 {
        font-size: medium;
        text-align: justify;
    }
    .item2 {
        font-size: medium;
        text-align: justify;
    }
    .item3 {
        font-size: medium;
        text-align: justify;
    }

    .item1 {
        text-align: center;
    }
    .item2 {
        text-align: center;
    }
    .item3 {
        text-align: center;
    }


    /* responsive creadores */

    #grid2 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .frase-inicio2 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .iniciales1 {
        margin-top: -20px;
        margin-bottom: 20px;
        text-align: center;
        .iniciales2 {
            margin-top: -20px;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .video3 {
        display: none;
    }

    /* responsive contacto */

    #grid3 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "formulario"
        "footer"
        ;
    }

    .frase-inicio3 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    .formulario {
        text-align: center;
    }

    .foto-formulario {
        width: 400px;
        height: 400px;
    }

}

/* responsive */

@media screen and (max-width: 500px) {

    #grid {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "fotos"
        "parrafo"
        "footer"
        ;
        
    }

    header {
        background-color: #FF8D8D;
    }


    .nav-tabs {
        display: none;
    }

    .frase-inicio {
       text-align: center;
       margin-top: 40px;
       border: 5px solid #FF8D8D;
       border-radius: 50px;
    }

    #fotos-nombres-inicio {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: -50px;
    }

    .nombre-1 {
        display: none;
        .nombre-2 {
            display: none;
            .nombre-3 {
                display: none;
            }
        }
    }

    .descripcion-1 {
        display: none;
        .descripcion-2 {
            display: none;
            .descripcion-3 {
                display: none;
            }
        }
    }
    
    .foto2 {
        display: grid;
    }

    .parrafo-inicio {
        text-align: center;
        margin-top: 80px;
    }

    .footer__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    /* responsive por que cs */

    #grid1 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .nav-tabs {
        display: none;
    }

    .frase-inicio1 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    #foto-aside {
        margin-top: -80px;
        margin-bottom: 40px;
    }

    #parrafo-aside {
        margin-top: -60px;
    }

    /* responsive creadores */

    #grid2 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .nav-tabs {
        display: none;
    }

    .frase-inicio2 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content2 {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .iniciales1 {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .iniciales2{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .iniciales3{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    /* responsive contacto */

    #grid3 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "formulario"
        "footer"
        ;
    }
    
    .nav-tabs {
        display: none;
    }

    .frase-inicio3 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .foto-formulario {
        display: none;
    }

}