
*{
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 15px;
}

body{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight:normal;
    color: gray;
    line-height: 19px;
    text-align: justify;
}


#grid {
    display: grid;
    grid-template-areas: 
    "logo menu menu menu"
    "logo frase frase frase"
    "logo fotos fotos fotos"
    "logo parrafo parrafo parrafo"
    "logo footer footer footer"
    ;
    grid-template-columns: 9% auto auto 15%;
    grid-template-rows: 100px 0.5fr 2fr 300px;
    gap: 5px;
}

header {
    grid-area: logo;
    position: relative;
    padding: 10px;
    background-color: #FF8D8D;
    
}

nav {
    grid-area: menu;
    padding: 10px;
    background-color: #FF8D8D;
}

.header__navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    background-color: #FF8D8D;
    overflow:hidden;
    text-transform: uppercase;
    font-size: 14px;
    
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    
}

li:hover{
    background-color: gray;
    
}

/*estilo index*/

#frase-inicio {
    grid-area: frase;
    padding: 10px;
}

.frase-inicio {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 12px;
    margin: 75px 15px 75px 15px;
    border: 10px solid #FF8D8D;
    border-radius: 50px;
    text-align: center;
}


#fotos-nombres-inicio {
    grid-area: fotos;
    padding: 10px;
}

#fotos-nombres-inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FF8D8D;
}

.nombre-1 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
}

.nombre-1:hover {
    transform: scale(1.1);
    transition-property: all;
    -o-transition-duration: 2s;
}
.nombre-2 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
}

.nombre-2:hover {
    transform: scale(1.1);
    transition-property: all;
    -o-transition-duration: 2s;
}

.nombre-3 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
}

.nombre-3:hover {
    transform: scale(1.1);
    transition-property: all;
    -o-transition-duration: 2s;
}

.foto-inicio-1{
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
}

.foto-inicio-1:hover {
    transform: scale(1.1);
    transition-property: all;
    -o-transition-duration: 2s;
}

.foto-inicio-3{
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
}

.foto-inicio-3:hover {
    transform: scale(1.1);
    transition-property: all;
    -o-transition-duration: 2s;
}

.foto-inicio-2{
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
}

.foto-inicio-2:hover {
    transform: scale(1.1);
    transition-property: all;
    -o-transition-duration: 2s;
}

.descripcion-1 {
    font-size: 20px;
    margin-top: 50px;
}

.descripcion-1:hover {
    transform: translateX(100px);
    transition-property: all;
    transition-duration: 1.5s;
}

.descripcion-2 {
    font-size: 20px;
    margin-top: 50px;
}

.descripcion-2:hover {
    transform: translateX(100px);
    transition-property: all;
    transition-duration: 1.5s;
}

.descripcion-3 {
    font-size: 20px;
    margin-top: 50px;
}

.descripcion-3:hover {
    transform: translateX(100px);
    transition-property: all;
    transition-duration: 1.5s;
}

.parrafo-inicio {
    grid-area: parrafo;
    padding: 10px;
}

.parrafo-inicio {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 40px;
    text-overflow:ellipsis;
    text-align: center;
    justify-content: center;
    margin: 40px 5px 40px 5px;

}

.parrafo-inicio-color{
    color: #FF8D8D;
}

footer {
    grid-area: footer;
    padding: 10px;
    background-color: #FF8D8D;
}


.formulario_pie{
    line-height: 25px;
    text-transform: none;
    font-size: 15px;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    background-color: #FF8D8D;
    font-size: 14px;
    text-transform: uppercase;
    
}

/*estilo por que cs*/

#grid1 {
    display: grid;
    grid-template-areas: 
    "logo menu menu menu"
    "logo frase frase frase"
    "logo content content content"
    "logo footer footer footer"
    ;
    grid-template-columns: 9% auto auto 15%;
    grid-template-rows: 100px auto auto auto;
    gap: 5px;
    min-height: 100%;
}

header {
    grid-area: logo;
    position: relative;
    padding: 10px;
    background-color: #FF8D8D;
    
    
}

nav {
    grid-area: menu;
    padding: 10px;
    background-color: #FF8D8D;
}

.header__navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    background-color: #FF8D8D;
    overflow:hidden;
    text-transform: uppercase;
    font-size: 14px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    
}

li:hover{
    background-color: #d7dbd8
    
}


#frase-inicio1 {
    grid-area: frase;
    padding: 10px;
}

.frase-inicio1 {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 12px;
    margin: 75px 15px 75px 15px;
    border: 10px solid #FF8D8D;
    border-radius: 50px;
    text-align: center;
}

#content {
    grid-area: content;
    padding: 10px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foto-aside {
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
    margin-right: 70px;
}

.item1 {
    margin: 30px 50px 70px 50px;
    font-size: 20px;
    
}

.item2 {
    margin: 100px 50px 70px 50px;
    font-size: 20px;
}

.item3 {
    margin: 100px 50px 70px 50px;
    font-size: 20px;
}

.parrafo-aside {
    margin: 130px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FF8D8D;
    font-weight: bold;
    font-size: 15px;

}

.parrafo-aside:hover {
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 2s;

}



footer {
    grid-area: footer;
    padding: 10px;
    background-color: #FF8D8D;
}


.formulario_pie{
    line-height: 25px;
    text-transform: none;
    font-size: 15px;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    background-color: #FF8D8D;
    font-size: 14px;
    text-transform: uppercase;
    
}

.footer-problem {
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: -10px;
}

/* estilo creadores */

#grid2 {
    display: grid;
    grid-template-areas: 
    "logo menu menu menu"
    "logo frase frase frase"
    "logo content content content"
    "logo footer footer footer"
    ;
    grid-template-columns: 9% auto auto 15%;
    grid-template-rows: 100px auto auto auto;
    gap: 5px;
    min-height: 100%;
}

#frase-inicio2 {
    grid-area: frase;
    padding: 10px;
}

.frase-inicio2 {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 12px;
    margin: 75px 15px 75px 15px;
    border: 10px solid #FF8D8D;
    border-radius: 50px;
    text-align: center;
}

#content2 {
    grid-area: content;
    padding: 10px;
}

#content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iniciales1 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
    color: #FF8D8D;
    margin-top: 100px;
    margin-bottom: 20px;
}

.iniciales2 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
    color: #FF8D8D;
    margin-bottom: 20px;
}

.iniciales3 {
    letter-spacing: 0.1cm;
    text-transform: capitalize;
    font-size: 30px;
    color: #FF8D8D;
    margin-top: 100px;
    margin-bottom: 20px;
}

/* estilo contacto */

#grid3 {
    display: grid;
    grid-template-areas: 
    "logo menu menu menu"
    "logo frase frase frase"
    "logo formulario formulario formulario"
    "logo footer footer footer"
    ;
    grid-template-columns: 9% auto auto 15%;
    grid-template-rows: 100px auto auto auto;
    gap: 5px;
    min-height: 100%;
}

#frase-inicio3 {
    grid-area: frase;
    padding: 10px;
}

.frase-inicio3 {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 12px;
    margin: 75px 15px 75px 15px;
    border: 10px solid #FF8D8D;
    border-radius: 50px;
    text-align: center;
}

.formulario {
    grid-area: formulario;
    padding: 10px;
    font-size: 20px;
    
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#formulario {
    border: 2px solid ;

}

.empezamos {
    font-size: 30px;
    margin: 20px 10px 20px 10px;
}

.sexo {
    margin-bottom: 10px;
    line-height: 10px;
}

.boton {
    margin-top: 10px;
    color: #FF8D8D;
}

.nombre-apellido {
    line-height: 25px;
}

.nombre {
    color: #FF8D8D;
}

.apellido {
    color: #FF8D8D;
}

.comentarios {
    margin-top: 30px;
}

.box {
    margin-top: 10px;
}

.newsletter {
    margin-top: 20px;
}

.check {
    margin-top: 10px;
    margin-bottom: 20px;
}





/* responsive */

@media screen and (max-width: 700px) {
    #grid {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "fotos"
        "parrafo"
        "footer"
        ;
        
    }

    header {
        background-color: white;
    }
    nav {
        background-color: white;
    }

    .frase-inicio {
       text-align: center;
       margin-top: 10px;
       border: 5px solid #FF8D8D;
       border-radius: 50px;
    }

    #fotos-nombres-inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .foto2 {
        display: none;
    }

    .parrafo-inicio {
        margin-top: 140px;
    }

    .nombre-1:hover{
        transform: none;
    }

    .nombre-2:hover{
        transform: none;
    }

    .nombre-3:hover{
        transform: none;
    }

    .foto-inicio-1:hover{
        transform: none;
    }

    .foto-inicio-2:hover{
        transform: none;
    }

    .foto-inicio-3:hover{
        transform: none;
    }

    .descripcion-1:hover{
        transform: none;
    }

    .descripcion-2:hover{
        transform: none;
    }

    .descripcion-3:hover{
        transform: none;
    }

    /* responsive por que cs */
    
    #grid1 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .frase-inicio1 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #parrafo-aside {
        display: none;
    }

    .item1 {
        text-align: center;
    }

    .item2 {
        text-align: center;
    }

    .item3 {
        text-align: center;
    }


    /* responsive creadores */

    #grid2 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .frase-inicio2 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .iniciales1 {
        margin-top: -20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .iniciales2 {
        margin-top: -20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .video3 {
        display: none;
    }

    /* responsive contacto */

    #grid3 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "formulario"
        "footer"
        ;
    }

    .frase-inicio3 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    .formulario {
        text-align: center;
    }

    .foto-formulario {
        width: 400px;
        height: 400px;
    }

}

/* responsive */

@media screen and (max-width: 500px) {

    #grid {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "fotos"
        "parrafo"
        "footer"
        ;
        
    }

    header {
        background-color: white;
    }
    

    nav {
        background-color: white;
    }

   .header__navigation {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
    }
    
    .frase-inicio {
       text-align: center;
       margin-top: 10px;
       border: 5px solid #FF8D8D;
       border-radius: 50px;
    }

    #fotos-nombres-inicio {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: -400px;
    }

    .foto2 {
        display: grid;
    }

    .parrafo-inicio {
        text-align: center;
        margin-top: 550px;
    }

    .footer__navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .descripcion-1 {
        margin: 25px;
    }

    .descripcion-2 {
        margin: 25px;
    }

    .descripcion-3 {
        margin: 30px;
    }

    /* responsive por que cs */

    #grid1 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .frase-inicio1 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    #foto-aside {
        margin-top: -80px;
        margin-bottom: 40px;
    }

    #parrafo-aside {
        margin-top: -60px;
    }

    /* responsive creadores */

    #grid2 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "content"
        "footer"
        ;
    }

    .frase-inicio2 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    #content2 {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .iniciales1 {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .iniciales2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .iniciales3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* responsive contacto */

    #grid3 {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "logo"
        "menu"
        "frase"
        "formulario"
        "footer"
        ;
    }

    .frase-inicio3 {
        text-align: center;
        margin-top: 30px;
        border: 5px solid #FF8D8D;
        border-radius: 50px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .foto-formulario {
        display: none;
    }

}





